.page-2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0b5b4b;
  width: 1728px;
  height: 164px;
}
.page-21 {
  position: absolute;
  top: 60px;
  left: 815px;
  line-height: 140%;
  font-weight: 500;
}
.text {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.button-contained {
  position: absolute;
  top: 287px;
  left: 850px;
  border-radius: 6px;
  background-color: #0b5b4b;
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}
.page-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: Roboto;
}
