header {
  height: 60px;
}

h1 {
  font-size: 30px;
}

nav {
  line-height: 60px;
}

nav a {
  font-size: 18px;
}

main {
  width: 700px;
  margin: 0 auto;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-description {
  font-size: 16px;
  line-height: 24px;
}
